<h2>Recent Posts</h2>

<%= form_tag welcome_search_path, method: :get do %>
  <table>
    <tr>
      <td>Search:</td>
      <td><input type="text" id="search" name="search" /></td>
    </tr>
  </table>
<% end %>

<% @posts.each do |post| %>
  <strong> <%= post.title %> </strong>

  <div class="row">
    <div class="col"><%= post.content %></div>
  </div>

  <div class="row">
    <div class="col"><%= link_to "Read more >>", post %></div>
  </div>
<% end %>
